<h1>Welcome</h1>

<div style="display: flex; flex-direction: column;">
    <%= link_to 'Register', controller: "users", action: "new" %>
    <p>or</p>
    <%= link_to 'Sign In', controller: "sessions", action: "new" %>
</div>